Phase 1/src/Aufgabe3Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rezept">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="titel"/>
        <xs:element name="bild">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="url"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="zutaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="zutat" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="menge" use="optional"/>
                      <xs:attribute type="xs:string" name="einheit" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="portionen"/>
        <xs:element name="zubereitung">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="arbeitszeit"/>
              <xs:element type="xs:string" name="schwierigkeitsgrad"/>
              <xs:element type="xs:string" name="brennwert"/>
              <xs:element name="step" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="kommentar">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="kommentar">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id"/>
                      <xs:attribute type="xs:string" name="author"/>
                      <xs:attribute type="xs:string" name="date"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>